<div class="row justify-content-center">
  <div class="col-12 col-sm-12 col-xl-5 text-center p-0 mt-3 mb-2">
    <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
      <h2 id="heading">Complete Your Business Account</h2>
      <p>Fill all form field to go to next step</p>
      <div id="msform">
        <!-- progressbar -->
        <ul id="progressbar">
          <li class="active" id="email_confirmation"><strong>Change Password</strong></li>
          <li id="license_information"><strong>License Information</strong></li>
          <li id="business_details"><strong>Business Details</strong></li>
          <li id="direct_deposit"><strong>Direct Deposit</strong></li>
          <li id="availability"><strong>Availability</strong></li>
          <li id="add_employees"><strong>Add Employees</strong></li>
          <li id="rate"><strong>Rate</strong></li>
          <li id="profile_picture"><strong>Profile Picture</strong></li>
          <li id="social_links"><strong>Social Links</strong></li>
          <li id="other_information"><strong>Other Info</strong></li>
          <li id="choose_plan"><strong>Choose Plan</strong></li>
          <li id="service_area"><strong>Service Areas</strong></li>
          <li id="share_and_download"><strong>Share & Download</strong></li>
          <li id="confirm"><strong>Finish</strong></li>
        </ul>

        <div class="mobile-title"></div>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
        </div>

        <!-- Email Confirmation fieldsets -->
        <fieldset data-current="license_information" data-next="email_confirmation">
          <%= render partial: "devise/shared/edit_password" %>
        </fieldset>

        <!-- License Information fieldsets -->
        <fieldset data-current="email_confirmation" data-prev="license_information" data-next="business_details"></fieldset>

        <!-- Business Details fieldsets -->
        <fieldset data-current="business_details" data-prev="license_information" data-next="direct_deposit"></fieldset>

        <!-- Direct Deposit fieldsets -->
        <fieldset data-current="direct_deposit" data-prev="business_details" data-next="availability"></fieldset>

        <!-- Availability fieldsets -->
        <fieldset data-current="availability" data-prev="direct_deposit" data-next="add_employees"></fieldset>

        <!-- Availability fieldsets -->
        <fieldset data-current="add_employees" data-prev="availability" data-next="rate"></fieldset>

        <!-- Rate fieldsets -->
        <fieldset data-current="rate" data-prev="add_employees" data-next="profile_picture"></fieldset>

        <!-- Profile Picture fieldsets -->
        <fieldset data-current="profile_picture" data-prev="rate" data-next="social_links"></fieldset>

        <!-- Social Links fieldsets -->
        <fieldset data-current="social_links" data-prev="profile_picture" data-next="other_information"></fieldset>

        <!-- Other Information fieldsets -->
        <fieldset data-current="other_information" data-prev="social_links" data-next="choose_plan"></fieldset>

        <!-- Share and Download fieldsets -->
        <fieldset data-current="choose_plan" data-prev="other_information" data-next="service_area"></fieldset>

        <!-- Share and Download fieldsets -->
        <fieldset data-current="service_area" data-prev="choose_plan" data-next="share_and_download"></fieldset>

        <!-- Share and Download fieldsets -->
        <fieldset data-current="share_and_download" data-prev="service_area" data-next="finish"></fieldset>

        <fieldset data-current="finish" accesskey="finish"></fieldset>

      </div>
    </div>
  </div>
</div>
<style>
  #progressbar li { 
    width: 7.142% !important;
  }

  .logo {
    max-width: 100%;
  }

  .myform {
    max-width: 80%;
  }
</style>
