<div class="white-cont clearfix">
  <h3 class="m-b-5">Send New In House Chat Link</h3>
  <p class="m-b-0">Fill the form below to send video chat link.</p>
</div>

<div class="white-cont clearfix">
  <div class="row">
    <div class="col-xs-12">
      <%= render 'form' %>
    </div>
  </div>
</div>
