<div class="modal common-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog mt-30" role="document">
    <div class="modal-content">
      <div class="modal-header" style="height: 55px;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" style="line-height: 30px;">&times;</span>
        </button>
        <h4 class="modal-title" style="text-align:center">Reviews</h4>
      </div>
      <div class="modal-body" style="height: 400px;overflow: overlay;">
        <strong class="modal_error warning"></strong>
      </div>
    </div>
  </div>
</div>
<style>
  .d-flex {
    display: flex;
  }
</style>