<p>Do you really like to pay for Leads?</p>
<p>Hello <%= @resource.name %>,</p>
<br>
<p>
  My name is Jason and I believe you are competing with the lead generation companies to get new customers. I want to show you how lead generators are taking your customers and selling them to you as leads. It may even be a good time for you to learn how you have been inadvertently helping the lead generation services you pay for acquire leads to sell to you. Let me show you how to rid your industry of their presence while you enjoy a better path to engage your free leads or even those you buy from them.
</p>
<p>
  I have personally hand selected your company from the top 10 google maps listings in your local city and state. I chose your companies because your all heavily targeted by the lead generation companies. I have created business listings for your companies to help you perform better by putting your local business in a more competitive standing to outperform them in the SERPs. I chose your company because it appears to be a leading performer in the local area. I invite you to activate this powerful tool to help your company get its new customers back for free.
</p>
<p>
  I am the founder of Video Chat a Pro and I have built the ultimate slap in the face to those lead generation companies. By the way I am going to give it to you for free. I built my digital marketplace to do everything theirs won’t do for your company. I won’t bore you with the exact details of how Video Chat a Pro does this for you, however I will say your company spends a lot of money on much of what you get from the business listing I have built for you. We take all the SEO things they restrict from your business listing on their platforms, and we programmed them into your business listing to work against the lead generation platforms. One example is passing link authority, a very easy programming task to help you outperform them. If you have any negative feelings towards those lead generation companies then I encourage you to help me help you take them down.
</p>
<p>
  Why would I do that you might ask, well because when I started a new plumbing business in Houston in 2009, I was sold fake leads to the sum of over 50k worth. When I complained and showed evidence that the leads were fake, they said there was nothing I could do to them about it.  All the lead generation companies have lost lawsuits for fraud, but did you get any money back? They should not be rewarded for their bad behavior, nor should they compete for your customers so they can sell them to you as a lead.
</p>
<p>
  Now I have spent my hard-earned money to make them go away, and I know for a fact it will benefit you greatly when you get involved because this digital marketplace was built to actually help the real customers, your businesses. I have tested every aspect of Video Chat a Pro in my own plumbing business to make sure it works for your local business, and I know firsthand what results it provides.
</p>

<h2>Video Chat a Pro offers:</h2>

<ul>
  <li>A Path for your website to outperform the lead generation companies online
    resulting in free customers.</li>
  <li>A path to reduce hard overhead costs.</li>
  <li>The only professional path to reduce driving.</li>
  <li>A path to reduce the need for additional technicians.</li>
  <li>Cheap path to train new technicians onsite with less additional operational
    costs.</li>
  <li>To give free leads and pay you to respond to them.</li>
  <li>A path to be more profitable while providing better service and a better
    work/life balance for your team.</li>
</ul>

<p>
  Call Jason, at 512-567-1270 to let me know if you don’t want your company to
  benefit from any of these things.
</p>
<p><%= link_to 'Confirm password', edit_password_url(@resource, reset_password_token: @token) %> and email to activate your free business listing on Video Chat a Pro to start getting free customers that pay you to video chat before you drive.</p>
<p>
  Go check out your current incomplete business profile <%= link_to 'here', show_profile_url(@resource) %>.
</p>
<br/>

Video Chat a Pro, Inc.
<br/>
<%= link_to root_url, root_url %>