<div class="form-card">
  <div class="row">
    <div class="col-7">
      <h2 class="fs-title">Finish</h2>
    </div>
  </div> <br><br>
  <h2 class="purple-text text-center"><strong>SUCCESS !</strong></h2> <br>
  <div class="row justify-content-center">
    <div class="col-3">
      <h3 class="purple-text text-center">Your profile has been completed</h3>
      <h3 class="purple-text text-center"><a href="/video-chat-a-pro" class="btn btn-primary">Get Verified</a> / <a href="/subscriptions" class="btn btn-primary">My Account</a></h3>
    </div>
  </div>
</div>
