<% if request.path == "/tradesman_signup" %>
	<h1 class="text-center"><span style="font-size: 18pt; color: #000000;"><%= cms_fragment_content("heading_tag")%></span></h1>
	<ul>
	  <li><span class="font-14">Sign up for free.</span></li>
	  <li><span class="font-14">Earn up to $66 per hour.</span></li>
	  <li><span class="font-14">Quick &amp; easy direct deposit.</span></li>
	  <li><span class="font-14">Set your own schedule and work when you want.</span></li>
	  <li><span class="font-14">Get paid to share your knowledge.</span></li>
	</ul>
	<p><strong><span class="font-14">How does it work?</span></strong></p>
	<p><span class="font-14">1. Set up your profile. Set your schedule, add your description, specialties, product knowledge, and your direct deposit details.</span></p>
	<p><span class="font-14">2. Clients schedule from your profile. You receive an email and text.</span></p>
	<p><span class="font-14">3. You receive a five-minute reminder text.</span></p>
	<p><span class="font-14">4. Video Chat with the customer guiding them through their repair or inspection.</span></p>
	<p><span class="font-14">5. Depending on the length of the video chat you will receive a direct deposit to your account. You receive 30% of the total.</span></p>
<% else %>
	<h1 class="text-center"><span style="color: #ba372a;"><span style="color: #e67e23;"><%= cms_fragment_content("heading_tag")%></span> </span></h1>
	<p class="text-center"><span style="font-size: 18pt; color: #000000;"><strong>We wrote the book on Video Chat for Home Improvement Contractors </strong></span></p>
	<ul>
	  <li><span style="color: #34495e;"><strong><span class="font-14">5 Days of Implementations Secrets backed with Training to properly use!</span></strong></span></li>
	  <li><span style="color: #34495e;"><strong><span class="font-14">Weekly Tips and pointers to keep you up to date with the best LiveStream Video Chat success tips!</span></strong></span></li>
	  <li><span style="color: #34495e;"><strong><span class="font-14">Call Booking Tips to Help You Successfully close more EXISTING PAID LEADS!</span></strong></span></li>
	  <li><span style="color: #34495e;"><strong><span class="font-14">Live Video Chat Representatives are available to provide Face to Face interaction with you when you need help!</span></strong></span></li>
	</ul>
	<h3 class="text-center"><span style="color: #000000;">Video Chat Conferencing Lowers the Cost of Leads</span></h3>
	<ul class="text-center">
    <li class="text-left"><span class="white-pre"> </span><span class="font-14">List your Business on Video Chat a Pro to Video Chat with Shopping Customers to help Faster!</span></li>
    <li class="text-left"><span class="font-14"><span class="white-pre"> </span>Use Video Chat Conferencing to provide Estimates!</span></li>
    <li class="text-left"><span class="font-14"><span class="white-pre"> </span>Get Paid to Video Chat with Shopping Customers!</span></li>
    <li class="text-left"><span class="font-14"><span style=""> </span>Power Up your Organic SEO Website Ranking with Links to and from your Business Listing!</span></li>
    <li class="text-left"><span class="font-14"><span class="white-pre"> </span>Promote your Business to 5 Local Service Areas!</span></li>
	</ul>
<% end %>
