<p>
  <%= booking.client %> has scheduled to video chat with you to get a price or consultation for a project, please join the video chat from the mobile APP.
</p>
<p>
  <div class="alert alert-danger">
    Link to Pro <%= link_to "Android APP", mobile_app_url('android-pro'), target: '_blank' %> or
    <%= link_to "IOS APP", mobile_app_url('ios-pro'), target: '_blank' %>
  </div>
  Join your Video Chat from the Video Chat a Pro Mobile APP
</p>
