<p>
	Hello <%= booking.user %>
	<%= booking.client %> has scheduled to video chat with you to get help with a project.
	You will need to download the Mobile APP for your device and log in.
	<div class="alert alert-danger">
		Link to Pro <%= link_to "Android APP", mobile_app_url('android-pro'), target: '_blank' %> or
	  <%= link_to "IOS APP", mobile_app_url('ios-pro'), target: '_blank' %>
	</div>
	Join your Video Chat from the Video Chat a Pro Mobile APP
</p>
