<div class="col-xs-12 col-md-12">
  <div class="white-cont clearfix">
    <div class="subscription-holder">
      <div class="subscription-header">
        Please contact the business owner to change plans
      </div>
    </div>
  </div>
</div>
