Hey,
<br/>
<p>
  <b>Your</b> email is added as employee into a Business at <%= link_to 'Videochatapro.com', root_url %>
</p>
<br/>

<p><b>Your credentials:</b></p>
<br/>
<div class="well">
  Email: <%= @employee_params[:email] %><br/>
  Password: <%= @employee_params[:password] %>
</div>

<br/>
Thank you,
<br/>
<%= link_to 'Videochatapro.com', root_url %>
