Hello,
<br/>
<p>
  Thank you for signing up with Video Chat a Pro!
</p>
<p>
  We noticed you have not completed your profile set up. To start receiving benefits of your profile please complete your profile.
</p>
<p>
  Please email us at info@videochatapro.com if you have any questions.
</p>
<p>
  Thanks,
</p>
<p>
  Video Chat a Pro, Inc.
</p>
<p>
  <%= link_to 'Videochatapro.com', root_url %>
</p>
