Hello <%= @otp.email %>,
<br/>
<p>
  Your One Time Password for login is <%= @otp.otp %>
</p>
<p>
  Please email us at info@videochatapro.com if you have any questions.
</p>
<p>
  Thanks,
</p>
<p>
  Video Chat a Pro, Inc.
</p>
<p>
  <%= link_to 'Videochatapro.com', root_url %>
</p>
