<h4>Hello Admin,</h4>
<br/>

<p>The account is confirmed for the imported <strong><%= @user.role %></strong> user with following details:</p>

<p>Name: <%= @user.name %></p>
<p>Email: <%= @user.email %></p>


Thank you,
<br/>
Video Chat a Pro
<br/>
