Hello <%= @user.email %>,
<br/>
<p>
	Here are the links to install Videochatapro Mobile App.
</p>
<p>
	<a href="<%= mobile_app_url('ios-pro') %>">For IOS</a><br>
	<a href="<%= mobile_app_url('android-pro') %>">For Android</a>
</p>
<p>
  Contact us at info@videochatapro.com if you have any questions.
</p>
<p>
  Thanks,
</p>
<p>
  Video Chat a Pro, Inc.
</p>
<p>
  <%= link_to 'Videochatapro.com', root_url %>
</p>
