Hello,
<br/>
<p>
  Thank you for claiming your profile. A support specialist with Video Chat a Pro will contact you to schedule a verification meeting.
  This protects your business profile. We would like to introduce you to the benefits of Video Chat a Pro.
</p>
<p>
  We will notify you with another email to login, thanks.
</p>
<p>
  Please email us at info@videochatapro.com if you have any questions.
</p>
<p>
  Thanks,
</p>
<p>
  Video Chat a Pro, Inc.
</p>
<p>
  <%= link_to 'Videochatapro.com', root_url %>
</p>
