Hey,
<br/>
<p>
  A new user with email <%= @user.email %> created on videochatapro.com with the role <b><%= @user.role %></b>.
</p>
<p>
  Click <b><%= link_to 'Profile Link', profile_url(@user), target: '_blank' %></b> to view user's proile.
</p>

<br/>
regards,
<br/>
Videochatapro.com