<div class="home-main">
  <section class="faq-section">
    <div class="text-center" style="color: white;">
      <div class="h2"><%= cms_fragment_content("arrow_title") %></div>
    </div>
    <div class="text-center" style="color: white;">
      <span style="font-size: 16pt;"><%= cms_fragment_content("arrow_content")&.html_safe %></span>
    </div>
    <div class="text-center" style="color: white;">      
      <p>
        <a class="btn btn-primary btn-lg btn-round" href="<%= cms_fragment_content("arrow_url") %>"><%= cms_fragment_content("arrow_link_text") %></a>
      </p>
    </div>
  </section>
</div>