<div class="become-a-prosection">
  <div class="container">
    <div class="col-xs-12">
      <h1 class="text-center" style="color: white;text-shadow: 0 3px 6px #3334;">Sign Up</h1>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-5 col-md-offset-1">
        <div class="container-benifit">
          <h2>Freelance Pro</h2>
          <h2>Did you know DIY people need your help? Get paid to help.</h2>
          <!--h4>Benifits</h4-->
          <ul>
            <li><span class="fa fa-check"></span> Sign up for free.</li>
            <li><span class="fa fa-check"></span> Earn up to $66 per hour.</li>
            <li><span class="fa fa-check"></span> Quick & easy direct deposit.</li>
            <li><span class="fa fa-check"></span> Set your own schedule and work when you want.</li>
            <li><span class="fa fa-check"></span> Great for retired licensed trades people.</li>
            <li><span class="fa fa-check"></span> Get paid to share your knowledge.</li>
          </ul>
          <%= link_to 'Become a Pro', new_business_signup_path('pro'), class: 'btn btn-blue btn-lg btn-block' %>
        </div>
      </div>
      <div class="col-xs-12 col-md-5">
        <div class="container-benifit">
          <h2>Business Solutions</h2>
          <h2>Lead generation & more. Maximize profits while providing the ultimate customer service.</h2>
          <ul>
            <li><span class="fa fa-check"></span> Sign up for free.</li>
            <li><span class="fa fa-check"></span> Live Video chat estimates.</li>
            <li><span class="fa fa-check"></span> Monetized video chat feature.</li>
            <li><span class="fa fa-check"></span> Save time & money for your customer & your company.</li>
            <li><span class="fa fa-check"></span> Reduce fleet expense, fuel and mileage.</li>
            <li><span class="fa fa-check"></span> Know before you go to the repair.</li>
            <li><span class="fa fa-check"></span> Generate free leads.</li>
            <li><span class="fa fa-check"></span> Convert price shoppers into buyers.</li>
          </ul>
          <%= link_to 'List Your Business for Free', new_business_signup_path('business'), class: 'btn btn-blue btn-lg btn-block' %>
        </div>
      </div>
    </div>
  </div>
</div>