<div class="social-icon">
  <ul>
    <li><a href="https://www.facebook.com/Video-Chat-A-Pro-198631254076908/"><i class="fa fa-facebook"></i></a></li>
    <li><a href="https://twitter.com/videochatapro"><i class="fa fa-twitter"></i></a></li>
    <li><a href="https://plus.google.com/u/1/115081108005617541373"><i class="fa fa-google-plus"></i></a></li>
    <li><a href="https://www.instagram.com/videochatapro/"><i class="fa fa-instagram"></i></a></li>
  </ul>
</div>
