<section class="hero-section">
  <% if @page.title %>
    <h1 class="text-center"><%= @page.title %></h1>
  <% end %>
  <% if @page&.sub_header_background_image&.url.present? %>
  <div class="hero-inner">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="hero-content text-center">
            <%= image_tag load_sub_header_background_image(@page), style: "max-width: 100%;", alt: @page.alt_title, title: @page.alt_title %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</section>
